-- Task 1: Find Latin letters not appearing in country codes
-- Part 1: Find letter not appearing in first position

SELECT DISTINCT 
    CHAR(ASCII('A') + n) as letter
FROM (
    SELECT 0 as n UNION SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION
    SELECT 5 UNION SELECT 6 UNION SELECT 7 UNION SELECT 8 UNION SELECT 9 UNION
    SELECT 10 UNION SELECT 11 UNION SELECT 12 UNION SELECT 13 UNION SELECT 14 UNION
    SELECT 15 UNION SELECT 16 UNION SELECT 17 UNION SELECT 18 UNION SELECT 19 UNION
    SELECT 20 UNION SELECT 21 UNION SELECT 22 UNION SELECT 23 UNION SELECT 24 UNION
    SELECT 25
) numbers
WHERE CHAR(ASCII('A') + n) NOT IN (
    SELECT DISTINCT LEFT(Code, 1)
    FROM country
)
ORDER BY letter;

-- Part 2: Find letter not appearing in second position
SELECT DISTINCT 
    CHAR(ASCII('A') + n) as letter
FROM (
    SELECT 0 as n UNION SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION
    SELECT 5 UNION SELECT 6 UNION SELECT 7 UNION SELECT 8 UNION SELECT 9 UNION
    SELECT 10 UNION SELECT 11 UNION SELECT 12 UNION SELECT 13 UNION SELECT 14 UNION
    SELECT 15 UNION SELECT 16 UNION SELECT 17 UNION SELECT 18 UNION SELECT 19 UNION
    SELECT 20 UNION SELECT 21 UNION SELECT 22 UNION SELECT 23 UNION SELECT 24 UNION
    SELECT 25
) numbers
WHERE CHAR(ASCII('A') + n) NOT IN (
    SELECT DISTINCT SUBSTRING(Code, 2, 1)
    FROM country
)
ORDER BY letter;

-- Part 3: Find letter not appearing in third position
SELECT DISTINCT 
    CHAR(ASCII('A') + n) as letter
FROM (
    SELECT 0 as n UNION SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION
    SELECT 5 UNION SELECT 6 UNION SELECT 7 UNION SELECT 8 UNION SELECT 9 UNION
    SELECT 10 UNION SELECT 11 UNION SELECT 12 UNION SELECT 13 UNION SELECT 14 UNION
    SELECT 15 UNION SELECT 16 UNION SELECT 17 UNION SELECT 18 UNION SELECT 19 UNION
    SELECT 20 UNION SELECT 21 UNION SELECT 22 UNION SELECT 23 UNION SELECT 24 UNION
    SELECT 25
) numbers
WHERE CHAR(ASCII('A') + n) NOT IN (
    SELECT DISTINCT RIGHT(Code, 1)
    FROM country
)
ORDER BY letter;
